USE [master]
GO
/****** Object:  Database [KURSA4SHAROV]    Script Date: 30.05.2024 21:24:05 ******/
CREATE DATABASE [KURSA4SHAROV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KURSA4SHAROV', FILENAME = N'E:\SQL\server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KURSA4SHAROV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KURSA4SHAROV_log', FILENAME = N'E:\SQL\server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KURSA4SHAROV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KURSA4SHAROV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KURSA4SHAROV]
GO
/****** Object:  UserDefinedTableType [dbo].[ТаблицаТоваровЗаказа]    Script Date: 30.05.2024 21:24:05 ******/
CREATE TYPE [dbo].[ТаблицаТоваровЗаказа] AS TABLE(
	[ТоварFK] [int] NULL,
	[Количество] [int] NULL,
	[Цена] [decimal](18, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ТоварыТаблицаТип]    Script Date: 30.05.2024 21:24:05 ******/
CREATE TYPE [dbo].[ТоварыТаблицаТип] AS TABLE(
	[ТоварВПоступлении] [int] NULL,
	[Количество] [int] NULL,
	[Цена] [decimal](18, 2) NULL
)
GO
/****** Object:  Table [dbo].[ВозвратТовараКлиентом]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ВозвратТовараКлиентом](
	[КодВозвратаТК] [int] IDENTITY(1,1) NOT NULL,
	[ПричинаВозврата] [nvarchar](255) NOT NULL,
	[Дата] [date] NOT NULL,
	[КлиентFK] [int] NOT NULL,
	[ЗаказFK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодВозвратаТК] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ВозвратТовараПоступления]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ВозвратТовараПоступления](
	[КодВозвратаТП] [int] IDENTITY(1,1) NOT NULL,
	[ПричинаВозврата] [nvarchar](255) NOT NULL,
	[ДатаВозврата] [date] NOT NULL,
	[ПоставщикFK] [int] NOT NULL,
	[ПоступлениеТоваровFK] [int] NOT NULL,
	[СтоимостьВозврата] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодВозвратаТП] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Должности]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Должности](
	[КодДолжности] [int] IDENTITY(1,1) NOT NULL,
	[Должность] [nvarchar](100) NOT NULL,
	[Оклад] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодДолжности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ЖурналИзмененийЗаказов]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ЖурналИзмененийЗаказов](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[НомерЗаказа] [int] NULL,
	[Действие] [nvarchar](50) NULL,
	[ДатаИзменения] [datetime] NULL,
	[СтароеСостояние] [nvarchar](255) NULL,
	[НовоеСостояние] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ЖурналИзмененийПоступленияТоваров]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ЖурналИзмененийПоступленияТоваров](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[НомерПоступления] [int] NULL,
	[Действие] [nvarchar](50) NULL,
	[ДатаИзменения] [datetime] NULL,
	[СтароеСостояние] [nvarchar](255) NULL,
	[НовоеСостояние] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[НомерЗаказа] [int] IDENTITY(1,1) NOT NULL,
	[КлиентFK] [int] NOT NULL,
	[Дата] [date] NOT NULL,
	[СтатусЗаказа] [nvarchar](50) NOT NULL,
	[СуммаЗаказа] [money] NOT NULL,
 CONSTRAINT [PK__Заказы__063C4BF60D2A1E08] PRIMARY KEY CLUSTERED 
(
	[НомерЗаказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[КодКлиента] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](100) NOT NULL,
	[Адрес] [nvarchar](255) NULL,
	[Телефон] [nvarchar](20) NULL,
	[ЭлектроннаяПочта] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[КодКлиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[КорзинаЗаказов]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[КорзинаЗаказов](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[НомерЗаказа] [int] NULL,
	[ТоварFK] [int] NULL,
	[Количество] [int] NULL,
	[Цена] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[КорзинаПоступленийТоваров]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[КорзинаПоступленийТоваров](
	[Идентификатор] [int] IDENTITY(1,1) NOT NULL,
	[КодПоступления] [int] NULL,
	[Дата] [date] NULL,
	[ПоставщикFK] [int] NULL,
	[СтатусПоступления] [nvarchar](50) NULL,
	[СуммаПоступления] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Идентификатор] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ОстаткиТоваров]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ОстаткиТоваров](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[ТоварFK] [int] NOT NULL,
	[Количество] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ОстаткиТоваровПоступления]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ОстаткиТоваровПоступления](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[ТоварыВПоступленииFK] [int] NOT NULL,
	[Количество] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Поставщики]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Поставщики](
	[КодПоставщика] [int] IDENTITY(1,1) NOT NULL,
	[НаименованиеКомпании] [nvarchar](100) NOT NULL,
	[Адрес] [nvarchar](255) NULL,
	[Телефон] [nvarchar](20) NULL,
	[ЭлПочта] [nvarchar](100) NULL,
	[Представитель] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[КодПоставщика] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ПоступлениеТоваров]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ПоступлениеТоваров](
	[КодПоступления] [int] IDENTITY(1,1) NOT NULL,
	[Дата] [date] NOT NULL,
	[ПоставщикFK] [int] NOT NULL,
	[СтатусПоступления] [nvarchar](50) NOT NULL,
	[СуммаПоступления] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодПоступления] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роли]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Роль] [nvarchar](50) NULL,
 CONSTRAINT [PK_Роли] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[КодСотрудника] [int] IDENTITY(1,1) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NULL,
	[ДолжностьFK] [int] NOT NULL,
	[СерияПаспорта] [nvarchar](10) NOT NULL,
	[НомерПаспорта] [nvarchar](10) NOT NULL,
	[ДатаВыдачи] [date] NOT NULL,
	[КодПодразделения] [nvarchar](10) NOT NULL,
	[КемВыдан] [nvarchar](100) NOT NULL,
	[АдресПрописки] [nvarchar](255) NULL,
	[ФактическийАдрес] [nvarchar](255) NULL,
	[Логин] [nvarchar](50) NULL,
	[Пароль] [nvarchar](50) NULL,
	[Роль] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[КодСотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товары]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товары](
	[КодТовара] [int] IDENTITY(1,1) NOT NULL,
	[НаименованиеТовара] [nvarchar](100) NOT NULL,
	[Цена] [decimal](18, 2) NOT NULL,
	[КатегорияТовара] [nvarchar](50) NULL,
	[Материал] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[КодТовара] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТоварыВПоступлении]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТоварыВПоступлении](
	[КодТВП] [int] IDENTITY(1,1) NOT NULL,
	[НаименованиеТовара] [nvarchar](100) NOT NULL,
	[Цена] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодТВП] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТоварыЗаказа]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТоварыЗаказа](
	[КодТЗ] [int] IDENTITY(1,1) NOT NULL,
	[НомерЗаказаFK] [int] NOT NULL,
	[ТоварFK] [int] NOT NULL,
	[Количество] [int] NOT NULL,
	[Цена] [decimal](18, 2) NOT NULL,
	[Сумма] [decimal](18, 2) NULL,
 CONSTRAINT [PK__ТоварыЗа__0A4ED82CDEF5209B] PRIMARY KEY CLUSTERED 
(
	[КодТЗ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТоварыПоступления]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТоварыПоступления](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[НомерПоступленияFK] [int] NOT NULL,
	[ТоварВПоступленииFK] [int] NOT NULL,
	[Количество] [int] NOT NULL,
	[Цена] [decimal](18, 2) NOT NULL,
	[Сумма] [decimal](18, 2) NULL,
 CONSTRAINT [PK__ТоварыПо__AE76132ECCBB1A04] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ВозвратТовараКлиентом]  WITH CHECK ADD FOREIGN KEY([ЗаказFK])
REFERENCES [dbo].[Заказы] ([НомерЗаказа])
GO
ALTER TABLE [dbo].[ВозвратТовараКлиентом]  WITH CHECK ADD FOREIGN KEY([КлиентFK])
REFERENCES [dbo].[Клиенты] ([КодКлиента])
GO
ALTER TABLE [dbo].[ВозвратТовараПоступления]  WITH CHECK ADD FOREIGN KEY([ПоставщикFK])
REFERENCES [dbo].[Поставщики] ([КодПоставщика])
GO
ALTER TABLE [dbo].[ВозвратТовараПоступления]  WITH CHECK ADD FOREIGN KEY([ПоступлениеТоваровFK])
REFERENCES [dbo].[ПоступлениеТоваров] ([КодПоступления])
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK__Заказы__КлиентFK__398D8EEE] FOREIGN KEY([КлиентFK])
REFERENCES [dbo].[Клиенты] ([КодКлиента])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK__Заказы__КлиентFK__398D8EEE]
GO
ALTER TABLE [dbo].[КорзинаЗаказов]  WITH CHECK ADD FOREIGN KEY([ТоварFK])
REFERENCES [dbo].[Товары] ([КодТовара])
GO
ALTER TABLE [dbo].[ОстаткиТоваров]  WITH CHECK ADD FOREIGN KEY([ТоварFK])
REFERENCES [dbo].[Товары] ([КодТовара])
GO
ALTER TABLE [dbo].[ОстаткиТоваровПоступления]  WITH CHECK ADD FOREIGN KEY([ТоварыВПоступленииFK])
REFERENCES [dbo].[ТоварыВПоступлении] ([КодТВП])
GO
ALTER TABLE [dbo].[ПоступлениеТоваров]  WITH CHECK ADD FOREIGN KEY([ПоставщикFK])
REFERENCES [dbo].[Поставщики] ([КодПоставщика])
GO
ALTER TABLE [dbo].[Сотрудники]  WITH CHECK ADD FOREIGN KEY([ДолжностьFK])
REFERENCES [dbo].[Должности] ([КодДолжности])
GO
ALTER TABLE [dbo].[Сотрудники]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудники_Роли] FOREIGN KEY([Роль])
REFERENCES [dbo].[Роли] ([Код])
GO
ALTER TABLE [dbo].[Сотрудники] CHECK CONSTRAINT [FK_Сотрудники_Роли]
GO
ALTER TABLE [dbo].[ТоварыЗаказа]  WITH CHECK ADD  CONSTRAINT [FK__ТоварыЗак__Номер__5070F446] FOREIGN KEY([НомерЗаказаFK])
REFERENCES [dbo].[Заказы] ([НомерЗаказа])
GO
ALTER TABLE [dbo].[ТоварыЗаказа] CHECK CONSTRAINT [FK__ТоварыЗак__Номер__5070F446]
GO
ALTER TABLE [dbo].[ТоварыЗаказа]  WITH CHECK ADD  CONSTRAINT [FK__ТоварыЗак__Товар__5165187F] FOREIGN KEY([ТоварFK])
REFERENCES [dbo].[Товары] ([КодТовара])
GO
ALTER TABLE [dbo].[ТоварыЗаказа] CHECK CONSTRAINT [FK__ТоварыЗак__Товар__5165187F]
GO
ALTER TABLE [dbo].[ТоварыПоступления]  WITH CHECK ADD  CONSTRAINT [FK__ТоварыПос__Номер__5FB337D6] FOREIGN KEY([НомерПоступленияFK])
REFERENCES [dbo].[ПоступлениеТоваров] ([КодПоступления])
GO
ALTER TABLE [dbo].[ТоварыПоступления] CHECK CONSTRAINT [FK__ТоварыПос__Номер__5FB337D6]
GO
ALTER TABLE [dbo].[ТоварыПоступления]  WITH CHECK ADD  CONSTRAINT [FK__ТоварыПос__Товар__60A75C0F] FOREIGN KEY([ТоварВПоступленииFK])
REFERENCES [dbo].[ТоварыВПоступлении] ([КодТВП])
GO
ALTER TABLE [dbo].[ТоварыПоступления] CHECK CONSTRAINT [FK__ТоварыПос__Товар__60A75C0F]
GO
/****** Object:  StoredProcedure [dbo].[ВыводВозврата]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ВыводВозврата]
AS
BEGIN
    SET NOCOUNT ON;

    -- Вывод всех запросов на возврат и связанных товаров из таблицы "ТоварыЗаказа"
    SELECT
        ВТК.ПричинаВозврата,
        ВТК.Дата,
        ВТК.КлиентFK,
        ВТК.ЗаказFK,
        ТЗ.КодТЗ,
        ТЗ.НомерЗаказаFK,
        ТЗ.ТоварFK,
        ТЗ.Количество,
        ТЗ.Цена,
        ТЗ.Сумма
    FROM ВозвратТовараКлиентом ВТК
    INNER JOIN ТоварыЗаказа ТЗ ON ВТК.ЗаказFK = ТЗ.НомерЗаказаFK;
END;
GO
/****** Object:  StoredProcedure [dbo].[ВыводВозвратаПоступления]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ВыводВозвратаПоступления]
AS
BEGIN
    SET NOCOUNT ON;

    -- Вывод всех запросов на возврат поставки и связанных товаров из таблицы "ТоварыПоступления"
    SELECT
        ВТП.ПричинаВозврата,
        ВТП.ДатаВозврата,
        ВТП.ПоставщикFK,
        ВТП.ПоступлениеТоваровFK,
        ВТП.СтоимостьВозврата,
        ТП.Код,
        ТП.НомерПоступленияFK,
        ТП.ТоварВПоступленииFK,
        ТП.Количество,
        ТП.Цена,
        ТП.Сумма
    FROM ВозвратТовараПоступления ВТП
    INNER JOIN ТоварыПоступления ТП ON ВТП.ПоступлениеТоваровFK = ТП.НомерПоступленияFK;
END;
GO
/****** Object:  StoredProcedure [dbo].[ВыводЗаказов]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ВыводЗаказов]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        З.НомерЗаказа, 
        З.КлиентFK, 
        З.Дата, 
        З.СтатусЗаказа, 
        З.СуммаЗаказа AS ОбщаяСуммаЗаказа,
        ТЗ.ТоварFK,
        ТЗ.Количество,
        ТЗ.Цена,
        ТЗ.Сумма
    FROM 
        Заказы З
    INNER JOIN 
        ТоварыЗаказа ТЗ ON З.НомерЗаказа = ТЗ.НомерЗаказаFK;
END;
GO
/****** Object:  StoredProcedure [dbo].[ВыводПоступления]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ВыводПоступления]
AS
BEGIN
    SET NOCOUNT ON;

    -- Вывод информации о всех поступлениях и их товарах в одной таблице
    SELECT 
        PT.КодПоступления,
        PT.Дата,
        PT.ПоставщикFK,
        P.НаименованиеКомпании AS НаименованиеПоставщика,
        PT.СтатусПоступления,
        TP.Код AS КодТовара,
        TP.ТоварВПоступленииFK,
        TV.НаименованиеТовара,
        TP.Количество,
        TP.Цена,
        TP.Сумма AS СуммаПо_Товару,
        PT.СуммаПоступления AS ОбщаяСуммаПоступления
    FROM ПоступлениеТоваров PT
    INNER JOIN Поставщики P ON PT.ПоставщикFK = P.КодПоставщика
    INNER JOIN ТоварыПоступления TP ON PT.КодПоступления = TP.НомерПоступленияFK
    INNER JOIN ТоварыВПоступлении TV ON TP.ТоварВПоступленииFK = TV.КодТВП;
END;
GO
/****** Object:  StoredProcedure [dbo].[ДобавлениеВозврата]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ДобавлениеВозврата]
    @ПричинаВозврата NVARCHAR(100),
    @Дата DATE,
    @КлиентFK INT,
    @ЗаказFK INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Добавление данных о возврате в таблицу "ВозвратТовараКлиентом"
    INSERT INTO ВозвратТовараКлиентом (ПричинаВозврата, Дата, КлиентFK, ЗаказFK)
    VALUES (@ПричинаВозврата, @Дата, @КлиентFK, @ЗаказFK);
END;
GO
/****** Object:  StoredProcedure [dbo].[ДобавлениеВозвратаПоступления]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ДобавлениеВозвратаПоступления]
    @ПричинаВозврата NVARCHAR(100),
    @ДатаВозврата DATE,
    @ПоставщикFK INT,
    @ПоступлениеТоваровFK INT,
    @СтоимостьВозврата DECIMAL(18, 2)
AS
BEGIN
    SET NOCOUNT ON;

    -- Добавление данных о возврате поставки в таблицу "ВозвратТовараПоступления"
    INSERT INTO ВозвратТовараПоступления (ПричинаВозврата, ДатаВозврата, ПоставщикFK, ПоступлениеТоваровFK, СтоимостьВозврата)
    VALUES (@ПричинаВозврата, @ДатаВозврата, @ПоставщикFK, @ПоступлениеТоваровFK, @СтоимостьВозврата);
END;
GO
/****** Object:  StoredProcedure [dbo].[ДобавлениеКлиента]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ДобавлениеКлиента]
    @Наименование NVARCHAR(100),
    @Адрес NVARCHAR(100),
    @Телефон NVARCHAR(20),
    @ЭлектроннаяПочта NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Добавление клиента в таблицу "Клиенты"
    INSERT INTO Клиенты (Наименование, Адрес, Телефон, ЭлектроннаяПочта)
    VALUES (@Наименование, @Адрес, @Телефон, @ЭлектроннаяПочта);
END;
GO
/****** Object:  StoredProcedure [dbo].[ДобавлениеПоставщика]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ДобавлениеПоставщика]
    @НаименованиеКомпании NVARCHAR(100),
    @Адрес NVARCHAR(100),
    @Телефон NVARCHAR(20),
    @ЭлПочта NVARCHAR(100),
    @Представитель NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Добавление поставщика в таблицу "Поставщики"
    INSERT INTO Поставщики (НаименованиеКомпании, Адрес, Телефон, ЭлПочта, Представитель)
    VALUES (@НаименованиеКомпании, @Адрес, @Телефон, @ЭлПочта, @Представитель);
END;
GO
/****** Object:  StoredProcedure [dbo].[ДобавлениеСотрудника]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ДобавлениеСотрудника]
    @Имя NVARCHAR(50),
    @Фамилия NVARCHAR(50),
    @Отчество NVARCHAR(50),
    @ДолжностьFK INT,
    @СерияПаспорта NVARCHAR(10),
    @НомерПаспорта NVARCHAR(10),
    @ДатаВыдачи DATE,
    @КодПодразделения NVARCHAR(20),
    @КемВыдан NVARCHAR(100),
    @АдресПрописки NVARCHAR(255),
    @ФактическийАдрес NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Сотрудники (
        Имя, 
        Фамилия, 
        Отчество, 
        ДолжностьFK, 
        СерияПаспорта, 
        НомерПаспорта, 
        ДатаВыдачи, 
        КодПодразделения, 
        КемВыдан, 
        АдресПрописки, 
        ФактическийАдрес
    ) 
    VALUES (
        @Имя, 
        @Фамилия, 
        @Отчество, 
        @ДолжностьFK, 
        @СерияПаспорта, 
        @НомерПаспорта, 
        @ДатаВыдачи, 
        @КодПодразделения, 
        @КемВыдан, 
        @АдресПрописки, 
        @ФактическийАдрес
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[ДобавлениеТовара]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ДобавлениеТовара]
    @НаименованиеТовара NVARCHAR(100),
    @Цена DECIMAL(18, 2),
    @КатегорияТовара NVARCHAR(50),
    @Материал NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Добавление товара в таблицу "Товары"
    INSERT INTO Товары (НаименованиеТовара, Цена, КатегорияТовара, Материал)
    VALUES (@НаименованиеТовара, @Цена, @КатегорияТовара, @Материал);
END;
GO
/****** Object:  StoredProcedure [dbo].[РегистрацияСотрудника]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[РегистрацияСотрудника]
    @КодСотрудника INT,
    @Логин NVARCHAR(50),
    @Пароль NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Проверка существования сотрудника с указанным кодом
    IF NOT EXISTS (SELECT 1 FROM Сотрудники WHERE КодСотрудника = @КодСотрудника)
    BEGIN
        PRINT 'Ошибка: Сотрудник с указанным кодом не найден.';
        RETURN;
    END;

    -- Проверка уникальности логина
    IF EXISTS (SELECT 1 FROM Сотрудники WHERE Логин = @Логин)
    BEGIN
        PRINT 'Ошибка: Этот логин уже занят.';
        RETURN;
    END;

    -- Обновление сотрудника, добавление логина и пароля
    UPDATE Сотрудники
    SET Логин = @Логин,
        Пароль = @Пароль
    WHERE КодСотрудника = @КодСотрудника;

    PRINT 'Логин и пароль успешно добавлены для сотрудника.';
END;
GO
/****** Object:  StoredProcedure [dbo].[СозданиеНовогоЗаказа]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[СозданиеНовогоЗаказа]
    @КлиентFK INT,
    @Дата DATE,
    @Статус NVARCHAR(50),
    @ТоварыТаблица AS ТаблицаТоваровЗаказа READONLY
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @НомерЗаказа INT;

    -- Добавляем заказ в таблицу "Заказы"
    INSERT INTO Заказы (КлиентFK, Дата, СтатусЗаказа, СуммаЗаказа)
    VALUES (@КлиентFK, @Дата, @Статус, 0);

    -- Получаем номер нового заказа
    SET @НомерЗаказа = SCOPE_IDENTITY();

    -- Добавляем товары в табличную часть "ТоварыЗаказа"
    INSERT INTO ТоварыЗаказа (НомерЗаказаFK, ТоварFK, Количество, Цена, Сумма)
    SELECT @НомерЗаказа, ТоварFK, Количество, Цена, Количество * Цена
    FROM @ТоварыТаблица;

    -- Обновляем сумму заказа
    UPDATE Заказы
    SET СуммаЗаказа = (
        SELECT SUM(Сумма)
        FROM ТоварыЗаказа
        WHERE НомерЗаказаFK = @НомерЗаказа
    )
    WHERE НомерЗаказа = @НомерЗаказа;
END;
GO
/****** Object:  StoredProcedure [dbo].[СозданиеНовогоПоступления]    Script Date: 30.05.2024 21:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[СозданиеНовогоПоступления]
    @Дата DATE,
    @ПоставщикFK INT,
    @СтатусПоступления NVARCHAR(50),
    @ТоварыТаблица ТоварыТаблицаТип READONLY
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @КодПоступления INT;

    -- Добавляем поступление товаров в таблицу "ПоступлениеТоваров"
    INSERT INTO ПоступлениеТоваров (Дата, ПоставщикFK, СтатусПоступления, СуммаПоступления)
    VALUES (@Дата, @ПоставщикFK, @СтатусПоступления, 0);

    -- Получаем код нового поступления
    SET @КодПоступления = SCOPE_IDENTITY();

    -- Добавляем товары в табличную часть "ТоварыПоступления"
    INSERT INTO ТоварыПоступления (НомерПоступленияFK, ТоварВПоступленииFK, Количество, Цена, Сумма)
    SELECT @КодПоступления, ТоварВПоступлении, Количество, Цена, Количество * Цена
    FROM @ТоварыТаблица;

    -- Обновляем сумму поступления
    UPDATE ПоступлениеТоваров
    SET СуммаПоступления = (
        SELECT SUM(Сумма)
        FROM ТоварыПоступления
        WHERE НомерПоступленияFK = @КодПоступления
    )
    WHERE КодПоступления = @КодПоступления;
END;
GO
USE [master]
GO
